@model Domain.ViewModels.Employee.EmployeeEditViewModel
@{
    ViewData["Title"] = "Editar Funcionário";
    Domain.ViewModels.AlertViewModel alertModel = ViewBag.alerts;
}
<h4>@ViewData["Title"]</h4>
@if (alertModel != null)
{
<alerthelper type="@alertModel.Type" message="@alertModel.Text"></alerthelper>
}
<form method="post">
    <input type="hidden" asp-for="Id">
    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Name"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Surname"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EmployeeNumber"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="EmployeeNumber" class="form-control" />
                    <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LeaderName"></label> <span style="color: #FF0000">*</span>
                    <input asp-for="LeaderName" class="form-control" />
                    <span asp-validation-for="LeaderName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <span style="color: #FF0000;">* Campo obrigatório</span>
                </div>
                <div class="form-group col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>